<button class="btn-start" (click)="changeColor()">Start</button>

<audio id="audio-alert">
  <source src="../assets/sound/sound-f1.mp3" type="audio/mpeg">
</audio>

<audio id="audio-start">
  <source src="../assets/sound/sound-green.mp3" type="audio/mpeg">
</audio>


<div class="container-parent">

  <div class="container">
    <article id="lightG1" class="color-default"></article>
    <article id="lightG2" class="color-default"></article>
    <article id="light1" class="color-default"></article>
    <article id="light2" class="color-default"></article>
  </div>

  <div class="container">
    <article id="lightG3" class="color-default"></article>
    <article id="lightG4" class="color-default"></article>
    <article id="light3" class="color-default"></article>
    <article id="light4" class="color-default"></article>
  </div>

  <div class="container">
    <article id="lightG5" class="color-default"></article>
    <article id="lightG6" class="color-default"></article>
    <article id="light5" class="color-default"></article>
    <article id="light6" class="color-default"></article>
  </div>

  <div class="container">
    <article id="lightG7" class="color-default"></article>
    <article id="lightG8" class="color-default"></article>
    <article id="light7" class="color-default"></article>
    <article id="light8" class="color-default"></article>
  </div>

  <div class="container">
    <article id="lightG9" class="color-default"></article>
    <article id="lightG10" class="color-default"></article>
    <article id="light9" class="color-default"></article>
    <article id="light10" class="color-default"></article>
  </div>

</div>