<div class="container-parent">

  <div class="container">
    <article class="color-default"></article>
    <article class="color-default"></article>
    <article class="color-default red"></article>
    <article class="color-default red"></article>
  </div>

  <div class="container">
    <article class="color-default"></article>
    <article class="color-default"></article>
    <article class="color-default red"></article>
    <article class="color-default red"></article>
  </div>

  <div class="container">
    <article class="color-default"></article>
    <article class="color-default"></article>
    <article class="color-default red"></article>
    <article class="color-default red"></article>
  </div>

  <div class="container">
    <article class="color-default"></article>
    <article class="color-default"></article>
    <article class="color-default red"></article>
    <article class="color-default red"></article>
  </div>

  <div class="container">
    <article class="color-default"></article>
    <article class="color-default"></article>
    <article class="color-default red"></article>
    <article class="color-default red"></article>
  </div>
  
</div>